body {  
  font-family: Arial, sans-serif;
  text-align: center;
  align-items: center;
  margin: auto;
  background-color: #112b63;
  margin-bottom: 5em;
}

/*NAVBAR*/
.fa-angle-down{
  margin-left: 40px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #112b63;
  border-radius: 15px;
  padding: 0 100px;
  top: 0;

}

.navbar .logo img {
  margin-left: 20px;
  height: 200px; /* Adjust height for smaller screens */
  width: auto;
}

.navbar .nav-menu {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center; /* Align items vertically in the center */
  list-style-type: none;
  padding: 10;
  margin-right: 20px; /* Adjust margin */
}

.navbar .nav-menu li {
  margin-left: 20px;
  color: white;
}

.order-in-nav,
.view-menu {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
}

.btn {
  border-color: transparent;
  background-color: #fff;
  color: #000;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.btn:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 10px; /* Adjust padding for smaller screens */
  }

  .navbar .logo img {
    height: 150px; /* Adjust height for smaller screens */
  }

  .navbar .nav-menu {
    flex-direction: column; /* Arrange menu items vertically */
    top: 100%; /* Position it below the navbar */
    left: 0;
    background-color: #112b63; /* Set background color */
    width: 100%; /* Take full width */
    padding: 20px;
    border-radius: 0 0 15px 15px; /* Rounded corners for bottom */
    }

  .navbar .nav-menu.active {
    display: flex; /* Show menu items when active */
  }

  .navbar .nav-menu li {
    margin: 10px 0; /* Adjust margin */
  }
}



/* MENU */
.menu {
  width: 80%;
  margin: 20px auto;
}
.menu-item {
  border: 1px solid #ddd;
  background-color: #F9E897;
  border-radius: 20px;
  margin: 20px 20px;
  padding: 20px;
  width: 30%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.menu-item:hover {
transform: scale(1.05);
}

.description{
  color: #ffffff;
  font-weight: bold;
  margin: 10px auto;
  padding-bottom: 1px;
  width: 80%;
}
.title {
  font-size: 50px;
  color: #FFE7A0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.food-name{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.food-desc{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;  
}
.price {
  font-size: 17px;
  color: black;
  margin: 10px 0;
}
.order-button {
  background-color: #4CAF50;
  border-radius: 25px;
  color: white;
  padding: 10px 25px;
  display: inline-block;
  font-size: 17px;
  margin: 8px 2px;
  cursor: pointer;
}
img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}


/* ORDER FORM */

.input-box {
  display: flex;
  align-items: center;  
}

.input-box label {
  text-align: left;
  width: 150px; /* Fixed width for labels */
  font-size: 16px;
  color: #112b63;
}

.input-box input,
.input-box textarea {
  flex: 1;
  width: calc(100% - 150px); /* Calculate width of input fields */
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 10px; /* Add spacing between label and input */
}

.input-box.message-box textarea {
  height: 100px; /* Set height for textarea */
}

.container {
  max-width: 1100px;
  width: 100%;
  background: #F5F7F8;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: auto; 
}
.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details i {
  font-size: 30px;
  color: #112b63;
  margin-bottom: 10px;
}
.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

.container .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #112b63;
}
.right-side .input-box {
  height: 55px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background: #67c56b;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover {
  background: #3caa3f;
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}
.input-box .order-type,
.input-box .payment-method {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.input-box .payment-method .order-type{

  margin-bottom: 5em;
}
.input-box .order-type select {
  flex: 1; /* Let the dropdown menu take remaining space */
  padding: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-right: 50px; /* Add some spacing between dropdown and radio buttons */
}
.input-box .payment-method select {
  flex: 3; /* Let the dropdown menu take remaining space */
  padding: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-right: 50px; /* Add some spacing between dropdown and radio buttons */
  
}

@media (max-width: 950px) {
  .container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .container .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .container {
    margin: 40px 0;
    height: auto;
  }
  .container .content {
    flex-direction: column-reverse;
  }
  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .content .left-side::before {
    display: none;
  }
  .container .content .right-side {
    width: 100%;
    margin-left: 0;
  }
  .input-box {
    flex-direction: row;
  }
  .input-box .order-type,
  .input-box .payment-method {
    width: 100%;
  }
}



/* Receipt Box */
.receipt-box {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.receipt-box h2 {
  font-size: 24px;
  color: #112b63;
  margin-bottom: 20px;
}

.receipt-content {
  margin-bottom: 20px;
}

.total-amount {
  padding: 10px 20px;
  background-color: #112b63;
  color: #fff;
  border-radius: 6px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments */
@media screen and (max-width: 1400px) {
  .menu-item {
    width: 40%;
  }  
  .info-item:not(:last-child)::after {
    right: -40px;
  }
}
@media screen and (max-width: 1200px) {
  .menu-item {
    width: 45%;
  }
  .info-item:not(:last-child)::after {
    right: -30px; 
  }
}
@media screen and (max-width: 1000px) {
  .menu-item {
    width: 70%;
  }
  .info-item:not(:last-child)::after {
    right: -1px;
  }
  img{
    height: 200px;
    width: 270px;
  }
}

@media screen and (max-width: 800px) {
  .menu-item {
    width: 90%;
  }
  .restaurant-promo {
    flex-direction: column;
    align-items: center;
  }  
  img{
    height: 200px;
    width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .menu-item {
    width: 90%;
  }
  img{
    height: 200px;
    width: 210px;
  }
}
@media screen and (max-width: 450px) {
  .menu-item {
    width: 100%;
  }
  img{
    height: 150px;
    width: 230px;
  }
}


/* Dropdown Menu */
.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 8px;
  transform: translateX(-10%);
  min-width: 160px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;

  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  transform-origin: top center;
  transform: translateY(-20px);
}
.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid black ;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid black;
  transition: background-color 0.3s ease-in-out;
}

.dropdown-content a:hover {
  background-color: #FFE7A0;
}

.btnMenu {
  cursor: pointer;
  border-color: transparent;
  background-color: #fff;
  color: #000;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
  
.btnMenu:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}
/* Submenu */
.submenu {
  position: relative;
  width: 200px;
}

.submenu-content {
  display: none;
  position: absolute;
  left: 103%;
  top: 0;
  min-width: 160px;
  background-color: #f9f9f9;
  
}

.submenu:hover .submenu-content {
  display: block;

}

/**/